@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
/* body {
    background-color: azure;
    display: grid;
    padding: 10px;
}

.home {
    align-content: start;
    border: 1px solid #333;
    display: grid;
    grid-gap: 1rem;
    height: 90vh;
    margin: 0 auto;
    width: 80vw;
}

h1 {
    margin: 0 auto;
    text-align: center;
    width: 200px;
} */