body {
	background-color: darkslategray;
	background-color: dimgray;
	background-color: honeydew;
	background-color: lightsalmon;
	background-color: lightslategray;
	margin: 0;
	padding: 0;
}

@media (max-width: 767px) {
}
