.layout {
	display: grid;
	grid-template-areas:
		'sidebar header header header'
		'sidebar . main main'
		'sidebar footer footer footer';
	grid-template-columns: 150px 1fr 1fr 1fr;
	grid-template-rows: auto;
	height: 97vh;
	width: 98vw;
}
