nav {
	display: grid;
	grid-gap: 2px;
	padding: 10px;
}

nav a,
nav a:hover,
nav a:focus {
	background-color: #4189c7;
	border-radius: 4px;
	color: #fff;
	overflow: hidden;
	padding: 10px 16px;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

nav a:hover {
	background-color: #4189c7; /* rgb: 65 137 199 */
	background-color: rgba(65, 137, 199, .85);
	/* background-color: rgba(255, 255, 255, .8); */
}

@media (min-width: 768px) {
}
